@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

$timer-color: blue;

h1 {
  color: $timer-color;
}

.basicTimer {
  display: block;
  height: 250px;
  width: 250px;
  margin: auto;
  margin-top: 20%;
  border: 5px solid red;
  border-radius: 50%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4em;
  background-color: white;

  &.runningTimer {
    border-color: green;
  }
  
  &.bonusTimer {
    border-color: blue;
  }
  
  &.pausedTimer {
    border-color: red;
  }

  &.breakTimer {
    border-color: purple;
  }
}

.basicTimer:hover {
  background-color: lightgray;
}

